.mainScreen {
    display: flex;
    width: 100%; /* Makes sure the navbar spans full width */
    padding-top: 100px;
}

.Content {
    border-style: solid;
    border-width: 2px;
    background-color: #feffb5;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin-left: calc(10vw - 1px);
    border-radius: 16px;
    margin-top: 90px;
}

.Texts {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 1vw;
    flex-direction: column; /* Stacks items vertically */
    width: 55vw;
    margin-right: 1vw;
}

p, .LinkText {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
}

.Texts h1 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 2px;
    margin: 12px;
}

.Texts h2 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}
.Texts h3 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.Texts p {
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.TextsNoSidebar {
    padding-left: 5vw;
    flex-direction: column; /* Stacks items vertically */
    padding-right: 5vw;
    padding-top: 2vw;
}

.TextsNoSidebar p, .PortfolioItem p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
}

.sidebar {
    justify-content: right;
    align-items: right;
    display: flex;
    word-break: break-all;
    width: 29%;
    flex-direction: column;
    background-color: #f6cea5;
    border-radius: 16px;
    border: solid;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
}

.sidebar button {
    border-radius: 16px;
    margin-top: 10%;
    height: auto;
    font-size: 28px;
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

button:hover {
    background-color: #f6cea5;
    transition: 0.7s;
}

.sidebar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.sidebar img {
    border: solid;
    margin-top: 10%;
    width: 100%;
}

.NewsBox {
    height: 120px;
    border: solid;
    border-radius: 16px;
    overflow: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #f6cea5;
}

.NewsBox h4 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
    font-size: 24px;
}

.PortfolioContent {
    border-style: solid;
    border-width: 2px;
    background-color: #feffb5;
    display: grid;
    width: 80vw;
    margin-left: 10vw;
    border-radius: 16px;
    margin-top: 90px;
    padding-top: 2vw;
}

.Title {
    width: 100%;
    text-align: center;
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 2px;
    padding: 8px;
}

.PortfolioItems {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1vw;
}

.PortfolioItem {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-bottom: 6px;
    background-color: white;
    height: auto;
    width: 24vw;
    border: solid;
    border-radius: 16px;
    border-width: 2px;
    display: flexbox;
    padding: 8px;
}

.PortfolioItem img {
    width: 22.5vw;
    border-radius: 16px;
}

.PortfolioItem h3, .PortfolioItem h2 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.PortfolioItem button {
    align-self: center;
    border-radius: 16px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 100px;
    font-size: 22px;
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.ProjectPhoto {
    align-self: center;
    width: 90%;
    border: solid;
}

    @media only screen and (max-width: 600px) {
        .PortfolioContent, .Content {
            width: 92vw;
            margin-left: 2.5vw;
            margin-right: 2.5vw;
            display: grid;
        }

        .PortfolioItem {
            width: 90%;
        }

        .PortfolioItem img {
            width: 100%;
        }

        .Texts {
            padding: 1vw;
            width: 91vw;
        }

        .TextsNoSidebar {
            padding: 1vw;
            width: 92vw;
        }

        .NewsBox {
            width: 90vw;
            margin: 0%;
        }
        .sidebar {
            width: 89vw;
        }
}