.mainScreen {
    display: flex;
    width: 100%; /* Makes sure the navbar spans full width */
    padding-top: 100px;
}

.Content {
    border-style: solid;
    border-width: 2px;
    background-color: #feffb5;
    display: flex;
    width: 80%;
    margin-left: 10%;
    border-radius: 16px;
}

.Texts {
    padding-left: 5%;
    flex-direction: column; /* Stacks items vertically */
    width: 800%;
}

.Texts p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    padding-right: 30%;
}

.Texts h1 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.Texts h2 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.TextsNoSidebar {
    padding-left: 5%;
    flex-direction: column; /* Stacks items vertically */
    width: 800%;
}

.TextsNoSidebar p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    padding-right: 30%;
}

.TextsNoSidebar h1 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.TextsNoSidebar h2 {
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.sidebar {
    justify-content: right;
    align-items: right;
    display: flex;
    padding-right: 5%;
    flex-direction: column;
}

.sidebar button {
    border-radius: 16px;
    margin-top: 10%;
    height: 100px;
    font-size: 30px;
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.sidebar button:hover {
    background-color: #f6cea5;
    transition: 0.7s;
}

.sidebar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.sidebar img {
    margin-top: 10%;
    width: 100%;
}