.navbar {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 60px; /* Ensures enough height for vertical centering */
    width: 100%; /* Makes sure the navbar spans full width */
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 16px;
}

.nav-button {
    width: 15vw;
    height: 100px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.nav-button:hover {
    background-color: #f6cea5;
    transition: 0.7s;
}

.nav-button:hover h1 {
    -webkit-text-stroke: 1px;
}

.nav-button h1 {
    font-size: 200%;
    font-family: "Doto", sans-serif;
    -webkit-text-stroke: 1px;
}

.pagename {
    font-family: "Doto", sans-serif;
    color: black;
    -webkit-text-stroke: 1.5px;
    padding: 10px;
    background-color: #f6cea5;
    display: flex;
    justify-content: center;
    width: 20vw;
    border-style: solid;
    border-radius: 6px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-button.active {
    background-color: #ee9f96; /* Highlight color */
    color: black;
    font-weight: bold;
  }

@media only screen and (max-width: 600px) {
    .pagename {
        display: none;
    }
    .nav-button {
        width: 33vw;
    }

    .nav-button h1 {
        font-size: 130%;
    }
  }